<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Light Bootstrap Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="./library/aframe-mouse-cursor-component.js"></script>
    <script src="./component/draggable-component.js"></script>
    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>

<body ng-app="aframeApp" ng-controller="editCtrl">
    <a-scene vr-mode-ui="enabled: false" ng-click="deselectTarget($event)">
        <a-sky id="environment-sky" src=""></a-sky>
        <a-entity ng-repeat="hotspot in sceneData.hotspots">
            <a-entity id="{{hotspot.name}}" position="0 0 0" rotation="{{hotspot.rotation}}" draggable-component="false">
                <a-sphere color="white" scale=".5 .5 .5" position="0 1 -8" opacity="0.8" ng-click="selectTarget($event)" ng-mousedown="checkMouseDown()">
                    <a-animation attribute="scale" from=".3 .3 .3" to=".5 .5 .5" repeat="indefinite" dur="1000"></a-animation>
                </a-sphere>
            </a-entity>
        </a-entity>
        <a-camera id="camera" look-controls="enabled: true" wasd-controls-enabled="false" mouse-cursor>
            <a-cursor fuse="true" visible="false"></a-cursor>
        </a-camera>
    </a-scene>
    <!--     <div class="wrapper"> -->
    <div class="sidebar" data-color="black" data-image="assets/img/sidebar-5.jpg">
        <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a class="simple-text">
                    Eyexpo 秀秀
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="dashboard.html" target="_self">
                        <i class="pe-7s-home"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li>
                    <a href="project.html" target="_self">
                        <i class="pe-7s-folder"></i>
                        <p>Projects</p>
                    </a>
                </li>
                <li class="active">
                    <a href="create.html" target="_self">
                        <i class="pe-7s-plus"></i>
                        <p>Create New</p>
                    </a>
                </li>
                <li>
                    <a href="contact.html">
                        <i class="pe-7s-call"></i>
                        <p>Contact</p>
                    </a>
                </li>
                <li>
                    <a href="notifications.html">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="upgrade.html">
                        <i class="pe-7s-rocket"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed navbar-fixed-create" id="topnav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/preview.html" target="_blank">
                                <i class="pe-7s-look"></i>
                                <p class="hidden-lg hidden-md">Preview</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="pe-7s-upload"></i>
                                <p class="hidden-lg hidden-md">Add Assets</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="pe-7s-share"></i>
                                <p class="hidden-lg hidden-md">Share</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="user.html">
                                <p>Account</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="main-panel">
        <div class="container-fluid">
            <div class="places-buttons mianbuttons">
                <div class="row">
                    <ul class="createli nav">
                        <li>
                            <div class="col-md-1 col-md-offset-3">
                                <a class="stage1" aria-expanded="false" aria-controls="collapseExample">
                                    <button type="button" class="btn btn-secondary" data-placement="top" title="Add Widgets" ng-click="openAddElementPanel()">
                                        <i class="pe-7s-plus"></i>
                                    </button>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-secondary" data-placement="top" title="Change Background" ng-click="openBgList()">
                                    <i class="pe-7s-photo"></i>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-secondary" data-placement="top" title="Delete Selected Scene" ng-click="deleteCurScene()">
                                    <i class="pe-7s-albums"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-panel">
        <footer id="firstLevelPanel" class="footer collapse in">
            <div class="stagebtn">
                <div class="collapsed collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample" id="collapseExample">
                    <div class=" sbtn">
                        <p class="" data-toggle="collapse" aria-expanded="false">
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Change Background" ng-click="addHotspot()">
                                hotspot
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="collapse stage3" id="collapseExample2">
                <div class="sbtn">
                    <button type="button" class="btn btn-secondary" ng-click="openSceneList()" title="set action">
                        set action
                    </button>
                </div>
                <div class="sbtn">
                    <button type="button" class="btn btn-secondary" ng-click="removeHotspot()" title="delete hotspot">
                        delete
                    </button>
                </div>
            </div>
            <div class="collapse stage3 in" id="collapseExample3">
                <div class="sbtn" ng-repeat="scene in scenesList">
                    <img id="{{scene.name}}" src="{{scene.src}}" ng-click="switchScene(scene.name)" class="img-responsive ng-class:{ 'choosed': scene.name == sceneData.name };" alt="Responsive image">
                </div>
                <div class="sbtn">
                    <img src="./image/plus.jpg" ng-click="addScene()" class="img-responsive" alt="Responsive image">
                </div>
            </div>
        </footer>
    </div>
    <!-- Modal set action, show scene list, no upload -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Set Hotspot Target</h4>
                </div>
                <div class="modal-body">
                    <div class="mediacontainer" ng-repeat="scene in scenesList">
                        <div class="media" id="{{scene.name}}" ng-click="selectScene($event)">
                            <img src="{{scene.src}}">
                        </div>
                    </div>
                    <div class="mediacontainer">
                        <div class="media">
                            <img src="./image/plus.jpg">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="closeSceneList()">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="submitSceneTarget()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal set background, show picture list, upload -->
    <div class="modal fade" id="changeBgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-primary upload" aria-label="Close" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"><span aria-hidden="true">Upload image</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change Scene Background</h4>
                </div>
                <div class="modal-body">
                    <div class="mediacontainer" ng-repeat="image in bgImages">
                        <div class="media" ng-click="selectBgImage($event, image)">
                            <img src="{{image}}">
                        </div>
                    </div>
                    <div class="mediacontainer">
                        <div class="media">
                            <img src="./image/plus.jpg" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="closeBgList()">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="submitBgImage()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./library/ng-file-upload-shim.min.js"></script>
    <!-- for no html5 browsers support -->
    <script src="./library/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="js/aframeApp.js"></script>
    <script type="text/javascript" src="js/draggableDirective.js"></script>
    <script type="text/javascript" src="js/projectService.js"></script>
    <script type="text/javascript" src="js/projectConstant.js"></script>
    <script type="text/javascript" src="js/editCtrl.js"></script>
    <!--   Core JS Files   -->
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>
    <!--  Charts Plugin -->
    <script src="assets/js/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="assets/js/light-bootstrap-dashboard.js"></script>
    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="assets/js/demo.js"></script>
</body>

</html>
