<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Light Bootstrap Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="./library/aframe-mouse-cursor-component.js"></script>
    <script src="./component/draggable-component.js"></script>
    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- interface css style wx -->
    <link href="assets/css/style.css" rel="stylesheet" />
</head>

<body ng-app="aframeApp" ng-controller="editCtrl">
    <a-scene vr-mode-ui="enabled: false" ng-click="deselectTarget($event)">
        <a-sky id="environment-sky" src=""></a-sky>
        <a-entity ng-repeat="hotspot in sceneData.hotspots">
            <a-sphere id="{{hotspot.name}}" color="white" scale=".5 .5 .5" position="{{hotspot.position}}" opacity="0.8" ng-click="selectTarget($event)" ng-mousedown="checkMouseDown()">
                <a-animation attribute="scale" from=".3 .3 .3" to=".5 .5 .5" repeat="indefinite" dur="1000"></a-animation>
            </a-sphere>
        </a-entity>
        <a-entity id="currentHotspot" data=""></a-entity>
        <a-camera id="camera" look-controls="enabled: true" wasd-controls-enabled="false" mouse-cursor draggable-component="false">
        </a-camera>
    </a-scene>
    <div class="main-panel">
        <div class="container-fluid">
            <div class="places-buttons topbuttons">
                <div class="row">
                    <ul class="createli nav col-md-2 col-md-offset-5">
                        <li>
                            <!--save button -->
                            <div class="col-md-6 ">
                                <a class="stage1" aria-expanded="false" aria-controls="collapseExample">
                                    <button type="button" data-toggle="tooltip" title="Save" data-placement="bottom" class="btn btn-secondary main-btn" ng-click="saveWholeProject()" data-placement="top">
                                        <i class="fa  fa-floppy-o fa-lg"></i>
                                    </button>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!--preview button -->
                            <div class="col-md-6">
                                <button type="button" data-toggle="tooltip" title="Preview" data-placement="bottom" class="btn btn-secondary main-btn" ng-click="previewProject()" data-placement="top">
                                    <i class="fa fa-eye fa-lg"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="places-buttons mianbuttons">
                <div class="row">
                    <ul class="createli nav col-md-2 col-md-offset-5">
                        <li>
                            <div class="col-md-4 ">
                                <a class="stage1" aria-expanded="false" aria-controls="collapseExample">
                                    <button type="button" data-toggle="tooltip" title="Add Widget" class="btn btn-secondary main-btn" data-placement="top" title="Add Widgets" ng-click="openAddElementPanel()">
                                        <i class="fa fa-plus fa-lg"></i>
                                    </button>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-4">
                                <button type="button" data-toggle="tooltip" title="Background Image" class="btn btn-secondary main-btn" data-placement="top" title="Change Background" ng-click="openBgList()">
                                    <i class="fa fa-picture-o fa-lg"></i>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-4">
                                <button type="button" data-toggle="tooltip" title="Scene" class="btn btn-secondary main-btn" data-placement="top" title="Delete Selected Scene" ng-click="deleteCurScene()">
                                    <i class="fa fa-files-o fa-lg"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-panel-edit">
        <footer id="firstLevelPanel" class="footer collapse in">
            <div class="stagebtn_1">
                <div class="collapsed collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample" id="collapseExample">
                    <div class=" sbtn">
                        <p class="" data-toggle="collapse" aria-expanded="false">
                            <button type="button" class="btn second_btn" data-toggle="tooltip" data-placement="top" title="Change Background" ng-click="addHotspot()">
                                Hotspot
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="stagebtn_2">
                <div class="collapse stage3 collapsed" id="collapseExample2">
                    <div class="sbtn">
                        <button type="button" class="btn second_btn basicfont" ng-click="openSceneList()" title="set action">
                            Set Action
                        </button>
                    </div>
                    <div class="sbtn">
                        <button type="button" class="btn second_btn basicfont" ng-click="removeHotspot()" title="delete hotspot">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            <div class="collapse stage3 in" id="collapseExample3">
                <div class="sbtn" ng-repeat="scene in scenesList">
                    <img id="{{scene.name}}" src="{{scene.src}}" ng-click="switchScene(scene.name)" class="img-responsive ng-class:{ 'choosed': scene.name == sceneData.name };" alt="Responsive image">
                </div>
                <div class="sbtn">
                    <img src="./image/plus.jpg" ng-click="addScene()" class="img-responsive" alt="Responsive image">
                </div>
            </div>
        </footer>
    </div>
    <!-- Modal set action, show scene list, no upload -->
    <div class="modal fade editor_modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeSceneList()"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title bigfont" id="myModalLabel">Set Hotspot Target</p>
                </div>
                <div class="modal-body">
                    <div class="mediacontainer" ng-repeat="scene in scenesList">
                        <div class="media" id="{{scene.name}}" ng-click="selectScene($event)">
                            <img src="{{scene.src}}">
                        </div>
                    </div>
                    <div class="mediacontainer">
                        <div class="media">
                            <img src="./image/plus.jpg">
                        </div>
                    </div>
                </div>
                <div class="modal-footer col-md-12">
                    <div class="col-md-3 pull-right">
                        <!--<button type="button" class="btn btn-default" ng-click="closeSceneList()">Cancel</button>-->
                        <button type="button" class="btn btn-primary" ng-click="submitSceneTarget()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Modal set background, show picture list, upload -->
    <div class="modal fade editor_modal" id="changeBgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeBgList()"><span aria-hidden="true">&times;</span></button>
                    <!--<button type="button" class="btn btn-primary upload" aria-label="Close" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"><span aria-hidden="true">Upload image</span></button>-->
                    <p class="modal-title bigfont" id="myModalLabel">Change Scene Background</p>
                </div>
                <div class="modal-body ">
                    <div class="mediacontainer" ng-repeat="image in bgImages">
                        <div class="media" ng-click="selectBgImage($event, image)">
                            <img src="{{image}}">
                        </div>
                    </div>
                    <div class="mediacontainer">
                        <div class="media">
                            <img src="./image/plus.jpg" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                        </div>
                    </div>
                    <div class="mediacontainer" ng-repeat="imagestitch in stitchedImgsThumbs">
                        <div class="media" ng-click="selectBgImage($event, imagestitch)">
                            <img src="{{imagestitch}}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer col-md-12">
                    <div class="col-md-3 pull-left">
                        <button type="button" class="btn btn-primary upload" aria-label="Close" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"><span aria-hidden="true">Upload image</span></button>
                    </div>
                    <!--<button type="button" class="btn btn-default" ng-click="closeBgList()">Cancel</button>-->
                    <div class="col-md-3 pull-right">
                        <button type="button" class="btn btn-primary" ng-click="submitBgImage()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./library/ng-file-upload-shim.min.js"></script>
    <!-- for no html5 browsers support -->
    <script src="./library/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="js/aframeApp.js"></script>
    <script type="text/javascript" src="js/draggableDirective.js"></script>
    <script type="text/javascript" src="js/projectService.js"></script>
    <script type="text/javascript" src="js/projectConstant.js"></script>
    <script type="text/javascript" src="js/editCtrl.js"></script>
    <!--   Core JS Files   -->
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>
    <!--  Charts Plugin -->
    <script src="assets/js/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="assets/js/light-bootstrap-dashboard.js"></script>
    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="assets/js/demo.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
</body>

</html>