<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>EYEXPO Headquarter Tour</title>
    <meta name="description" content="EYEXPO Headquarter Tour">
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="./library/aframe-mouse-cursor-component.js"></script>
    <link rel="stylesheet" type="text/css" href="./library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./library/bootstrap/css/bootstrap-theme.min.css">
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="./library/materialize/css/materialize.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-app="aframeApp" ng-controller="previewCtrl">
    <a-scene id="home-scene">
        <a-sky id="environment-sky" src=""></a-sky>
        <a-entity>
            <a-entity ng-repeat="hotspot in sceneData.hotspots">
                <a-sphere id="{{hotspot.name}}" color="white" scale=".5 .5 .5" position="{{hotspot.position}}" opacity="0.8" ng-click="openScene(hotspot.target)">
                    <a-animation attribute="scale" from=".3 .3 .3" to=".5 .5 .5" repeat="indefinite" dur="1000"></a-animation>
                </a-sphere>
            </a-entity>
        </a-entity>
        <a-camera id="camera" look-controls="enabled: true" wasd-controls-enabled="false" mouse-cursor>
            <a-ring id="cursor" color="red" radius-inner="0.03" radius-outer="0.05" position="0 0 -4" cursor="fuse: true; fuseTimeout: 1000" visible="true">
                <a-animation attribute="radius-inner" begin="raycaster-intersection" end="raycaster-intersection-cleared" from="0.03" to="0" repeat="indefinite" direction="reverse"></a-animation>
                <a-animation attribute="radius-inner" begin="raycaster-intersection-cleared" to="0.03"></a-animation>
            </a-ring>
        </a-camera>
    </a-scene>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./library/ng-file-upload-shim.min.js"></script>
    <script src="./library/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="js/aframeApp.js"></script>
    <script type="text/javascript" src="js/draggableDirective.js"></script>
    <script type="text/javascript" src="js/projectService.js"></script>
    <script type="text/javascript" src="js/projectConstant.js"></script>
    <script type="text/javascript" src="js/previewCtrl.js"></script>
    <script type="text/javascript" src="./library/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="./library/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./library/materialize/js/materialize.js"></script>
</body>

</html>