/*--------- editor interface style ------------*/

html{
    font-family: Lato sans-serif;
    font-size: 16px;
}
.ng-scope .main-panel{
    width:100%;
}

.basicfont{
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    line-height: 1em;

}

.smallfont{
    font-family: 'Lato', sans-serif;
    font-size: 0.5rem;
    letter-spacing: 0.05em;
    line-height: 1em;
    font-weight: lighter;

}

.bigfont{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05em;
    line-height: 1em;
    font-weight: normal;
}


.mianbuttons{
    position: fixed;
    top: 73%;
    width: 100%;

}

.topbuttons{
    margin: 0 -1em 0 -1em;
    position: fixed;
    top: 0;
    width: 100%;

}

.topbuttons .main-btn{
    margin: 0.5em;
}

.places-buttons .btn{
}

.topbuttons .createli{
    background-color: rgba(220,220,220,0.2);

}

.btn{
    background: none;
}

.main-btn, .main-btn:hover,
.main-btn:focus{
    width:100%;
    height:2em;
    background-color:#151515;
    color:#ffffff;
    border: none;
    text-align: center;
}

.main-btn,
.main-btn:visited{
    width:100%;
    background-color:#151515;
    color:#ffffff;
    border: none;
    text-align: center;
 }


.main-btn:hover,
.main-btn:active,
.main-btn:focus{
    width:100%;
    background-color:#000000;
    color:#BC9B6A;
    border: none;
    text-align: center;
 }



.second_btn,
.second_btn:visited{
    width:100%;
    background-color:#151515;
    color:#ffffff;
    border: none;
    text-align: center;
}


.second_btn:hover,
.second_btn:active,
.second_btn:focus{
    width:100%;
    background-color:#000000;
    color:#ffffff;
    border: none;
    text-align: center;
}


.fa{
    width:auto;
}
.fg-lg{
    vertical-align: 0;

}

.footer{
    background-color: rgba(0,0,0,0.2);
    min-height: 8em;
}



.sbtn{
    margin: 1em 0 1em 4em;
}

.choosed{
    border:4px solid rgba(0,0,0,0.8);

}


.stagebtn_1{
    line-height: 8em;
    margin:auto;
}

.collapse{
    width:100%;
}

.stagebtn_2{
    line-height: 6em;
}

.editor_modal{

}

.modal-header{
    background: #151515;
    color:#f5f5f5;

}


.modal-dialog{
    margin:5em auto;
}

.modal-body{
    height:auto;
    overflow: auto;
}


.mediacontainer {
    width: 30%;
    display: inline-block;
    padding: 2em 2em 2em;
}

.media{
    background:none;
}
.media img{
    box-sizing: border-box;
}


.media img:hover{
    border:2px solid rgba(0,0,0,0.8);
    border-radius: 2px;



}

.mediacontainer .choosed{
    border:4px solid rgba(0,0,0,0.8);
    border-radius: 2px;
    padding: 0.2em;
}

.media, media-body{
    overflow: auto;
}

.modal-header .close{
    color:#f5f5f5;
    opacity: .8;
}




.btn-primary{
    width:100%;
    background-color:#BC9B6A;
    padding: 0.5em;
    color:#ffffff;
    /*margin-left: 15%;*/
    /*margin-right: 15%;*/
    border: none;
    float: left;
    border-radius: 2px;

}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background-color: #bc9b6a;
    color:#ffffff;
    border: none;

}


.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover{
    background-color: #bc9b6a;
    color:#ffffff;
    border: none;
}


.tooltip{
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    line-height: 1em;
    color:#ffffff;
    padding:0.5em
}